/* Remove any global font-family */
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* Do not set any font-family globally */
}

/* If you have Swal or other popups and want specific styles for them */
.swal2-popup {
  font-size: 1rem !important;
  font-family: 'Prompt';
}